<html>
<head>
  <title>The first app on Gin WAF</title>
</head>
<body>

  <form action="/register" method="POST">
    <p>id:<input type="text" name="id" size="30"></p>
    <p>password:<input type="password" name="pass"></p>
    <p><input type="submit" value="login"></p>
  </form>

</body>
</html>
