<html>
<head>
	<title>foruka -- register</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css">
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<div class="navbar-item">foruka</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<a class="button" href="/login">
							<span>
								login
							</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="tile">
			<div class="tile is-vertical">
				<div class="tile">
					<form action="/register" method="POST">
						<div class="field">
							<label class="label">id</label>
							<div class="control">
								<input class="input is-medium" type="text" name="id" size="30">
							</div>
						</div>
						
						<div class="field">
							<label class="label">password</label>
							<div class="control">
								<input class="input is-medium" type="password" name="pass">
							</div>
						</div>
						
						<div class="field">
							<div class="control">
								<input class="button is-link" type="submit" value="register">
							</div>
						</div>
					</form>
				</div>
			</div>

		<div  class="tile">
		hogehoge
		</div>
		</div>
	</div>
</body>
</html>
