{{ define "networks/index.tmpl" }}
<html>
<head>
	<meta charset="utf-8">
	<title>foruka</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css">
</head>
<body>
	<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<div class="navbar-item">foruka</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<a class="button" href="/networks/create">
							<span>
								create EndPoint	
							</span>
						</a>
					</p>
					<p class="control">
						<a class="button" href="/logout">
							<span>
								logout
							</span>
						</a>
					</p>

				</div>
			</div>
		</div>
	</nav>

	<main class="columns">
		<div class="submenu column is-3">
			<aside class="box menu">
				<ul class="menu-list">
					<li><a class="button" href="/containers">containers</a></li>
					<li><a class="button" href="/networks">networks</a></li>
				</ul>
			</aside>
		</div>

		<div class="column">
			<article class="box media">
				<div class="media-content">
					<div class="content">
						<table class="table is-hoverable">
							<thead>
							<tr><th>ID</th><th>Name</th><th>EndPoint</th><th></th><th>Container</th></tr>
							</thead>
							{{range .EndPoints}}
							<tr><td><a href="/networks/show/{{.Hash}}">{{.Hash}}<a></td><td>{{.Name}}</td><td>humsoft.xyz:{{.EndPoint}}</td><td>→</td><td>{{.ContName}}:{{.Port}}</td></tr>
							{{end}}		   
						</table>
					</div>
				</div>
			</article>
		</div>
	</main>
</body>
</html>
{{ end }}

