{{ define "containers/create.tmpl" }}

<html>
<head>
	<meta charset="utf-8">
	<title>foruka</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css">
</head>
<body>
	<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<div class="navbar-item">foruka</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="field is-grouped">
					<p class="control">
						<a class="button" href="/logout">
							<span>
								logout
							</span>
						</a>
					</p>

				</div>
			</div>
		</div>
	</nav>

	<main class="columns">
		<div class="submenu column is-3">
			<aside class="box menu">
				<ul class="menu-list">
					<li><a class="button" href="/containers">containers</a></li>
					<li><a class="button" href="/networks">networks</a></li>
				</ul>
			</aside>
		</div>

		<div class="column">
			<article class="box media">
				<div class="media-content">
					<div class="content">
						<div class="tile">
							<form action="/containers/store" method="POST"> 
								<div class="field">
									<label class="label">Container Name</label>
									<div class="control">
										<input class="input" type="text" id="name" name="name">
									</div>
								</div>

								<div class="field">
									<label class="label">User Name</label>
									<div class="control">
										<input class="input" type="text" id="user" name="user">
									</div>
								</div>
								<div class="field">
									<label class="label">SSH Authorized Key</label>
									<div class="control">
										<textarea class="textarea" id="ssh-authorized-key" name="ssh-authorized-key"></textarea>
									</div>
								</div>


								<div class="field">
									<label class="label">Image</label>
									<div class="control">
										<div class="select">
											<select name="image">
												<option value="ubuntu/disco">ubuntu 19.04</option>
												<option value="debian/9">debian/9</option>
												<option value="centos/7">centos/7</option>
											</select>
										</div>
									</div>
								</div>
								<div class="field">
									<div class="control">
										<input class="button is-link" type="submit" value="create"></p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</main>
</body>
</html>

{{ end }}

