{{ define "containers/show.tmpl" }}

<html>
<head>
    <meta charset="utf-8">
    <title>foruka</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css">
</head>
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">foruka</div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="/logout">
              <span>
                logout
              </span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </nav>

  <main class="columns">
		<div class="submenu column is-3">
			<aside class="box menu">
				<ul class="menu-list">
					<li><a class="button" href="/containers">containers</a></li>
					<li><a class="button" href="/networks">networks</a></li>
				</ul>
			</aside>
		</div>

		<div class="column">
			<article class="box media">
				<div class="media-content">
					<div class="content">
            <div class="tile">

              <table class="table">
              <tr><td>Name</td><td>{{ .container.Name }}</td></tr>
              <tr><td>Hash</td><td>{{ .container.Hash_id }}</td></tr>
              <tr><td>Status</td><td>{{ .status.Status }}</td></tr>
              {{ range .addresses }}
              <tr><td>{{ .Family}}</td><td>{{ .Address }}/{{ .Netmask }}</td></tr>
              {{ end }}
              </table>

              <form action="/containers/start/{{ .container.Hash_id }}" method="GET">
                <input type="hidden" name="_token" value="test">
                <input type="submit" class="button is-link" value="start">
              </form>
              <form action="/containers/stop/{{ .container.Hash_id }}" method="GET">
                <input type="hidden" name="_token" value="test">
                <input type="submit" class="button is-warning" value="stop">
              </form>
              <form action="/containers/delete/{{ .container.Hash_id }}" method="GET">
                <input type="submit" class="button is-danger" value="delete">
              </form>
            </div>
					</div>
				</div>
			</article>
		</div>
	</main>
</body>
</html>
{{ end }}

