{{ define "containers/show.tmpl" }}

<html>
<head>
    <meta charset="utf-8">
    <title>foruka</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css">
</head>
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">foruka</div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="/logout">
              <span>
                logout
              </span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="tile">
      <form action="/containers/store" method="POST"> 
        <div class="field">
          <label class="label">Container Name</label>
          <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{.container.Name}}">
          </div>
        </div>
      </form>
      {{ .status }}

      <a class="button is-link" href="/containers/start/{{.container.Hash_id}}">start</a>
      <a class="button is-warning" href="/containers/stop/{{.container.Hash_id}}">stop</a>
      <a class="button is-danger" href="/containers/delete/{{.container.Hash_id}}">delete</a>
    </div>
  </div>
</body>
</html>
{{ end }}

